@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  /* border: 1px solid green;
  border-style: dashed; */
}

html * {
  font-family: "Poppins", sans-serif !important;
  color-scheme: dark !important;
  margin: 0;
}

html,
body,
.main {
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

body {
  background-color: #454545;
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 30rem; */
  
}
#primary-logo {
  display: block;
  width: 7rem;
  margin: 1rem;
}

.checkbox a, .form-submit a {
  color: #FF6200;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #4d4d4d;
  padding: 32px 24px;
  border-radius: 1rem;
  gap: 32px;
  min-width: 20rem;
}

.header h1{
  font-size: 1.75rem;
}
.header p{
  font-size: .75rem;
}

.form {
  display: flex;
  flex-direction: column;

  position: relative;
}

#password,
#email {
  height: 2.5rem;
  padding: 1rem;
  /* font: 1rem; */
  border-radius: 0.5rem;
  background-color: transparent;
  border: 1px solid #CCCCCC;
  width: 100%;
  outline: none;
}
.email, .password {
    position: relative;
    margin-bottom: .75rem;
}

.form .label {
    position: absolute;
    left: 1rem;
    top: -.5rem;
    font-size: .75rem;
    color: #CCCCCC;
    background-color: #4d4d4d;

}

.checkbox {
    display: flex;
    justify-content: space-between;
    font-size: .75rem;   
}

.remember input {
  width: 1rem;
  height: 1rem;
  outline: none;
  accent-color: #FF6200;
}

.form-submit button {
    height: 2.5rem;
    width: 100%;
    border-radius: .5rem;
    background-color: #FF6200;
    border: none;
    margin-bottom: .5rem;
    transition: 150ms ease;
    cursor: pointer;
    font-size: .75rem;
}
.form-submit button:hover {
  background-color: #e75900;
}
.form-submit p {
    text-align: center;
    font-size: .75rem;
}

.separator{
    position:relative;
}

.separator p {
    text-align: center;
    font-size: .75rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: #4d4d4d;
    padding: 0 .25rem;
}

.separator hr {
    width: 100%;
}

.remember {
  display: flex;
  gap: .5rem;
}

.remember input, .remember label {
  cursor: pointer;
}

.sign-with {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.sign-with li {
  float: left;
}
.sign-with li img {
  width: 2rem;
  margin: 0 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 24px;
  height: 3rem;
  font-size: .5rem;
}

.footer a {
  color: #FF6200;
}